body{
    background-image: url(./image/Background.jpg);
    background-repeat: no-repeat;
    background-size: 3000px,3000px;
}

{
    box-sizing::backdrop;
    
    }
    li
    {
    display:inline-block;
    padding:5px;
    background-color:pink;
    border:2px solid white; 
    }
    header 
    {
    background-color:goldenrod;
    color:black;
    border:3px solid black;
    width:100%;
    height:80px; 
    }
    
    nav 
    {
    border:3px solid black;
    background-color:dodgerblue;
    height:120px;
    width:100%;
    }
    section
    {
    float:left;
    height:200px;
    width:20%;
    border:3px groove black;
    background-color:darkkhaki;
    }
    article 
    {
    float:left;
    width:60%;
    height:200px;
    background-color:plum;
    border:2px solid black; 
    }
    aside 
    {
    float:right;
    width:18.6%;
    height:200px;
    background-color:#aa99ff;
    border:2px solid black; 
    }
    details 
    {
    border:2px solid red;
    width:100%;
    float:left;
    height:80px;
    background-color:fuchsia;
    }
    footer
    {
    background-color:yellowgreen;
    border: 3px solid red;
    width:100%;
    height:100px;
    float:left;
    }