/* Global styling for menucard */
.menuCard{ 
    /* width: 30%; */
    border: 2px;
    padding: 15px;
    padding-right: 30px;
    padding-bottom: 0px;
}
.foodItems{
    font-family: cursive;
    font-size: 12px;
    padding-left: 30px;
}
.halfPrice{
    padding-left: 20px;
    width: 30px;
}
div button{
    background-color: red;
}
.naviAlign{
    vertical-align:auto;
    background-color: darksalmon;
    text-align: center;
    padding: 12px;
}
.formAlign{
    padding: 15px;
    background-color: #fdcd59;
}
