body{
    background-image: url("./img/cool-background3.png");
    background-repeat: no-repeat;
    background-size: 3000px 3000px;
    
}

.title {
    color: brown;
    margin: 0px;
    padding: 0px;
    text-decoration: underline; 


}
.float{
    float: right;
}
.align {
    border: 1px solid black;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color:bisque;
} 
.head{
    border: 1px solid black;
    background-color:rgb(217, 238, 238);
} 
a{   background-color:blanchedalmond;
    border-radius: 20px;
    text-decoration: none;
}
 a:hover{
    color:red;
 }
