/* Global Css for learn html */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lightblue;
  background-image: url('./Images/resize-1685536794775249326sidenav.jpg');
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a.active {
  background-color: lightblue;
  color: black;
  font-weight: bold;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.indexFontAlign {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

.points {
  background-color: lightblue;
  padding: 14px;
  border-radius: 16px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.tablecontent {
  border: 1px solid white;
  height: 460px;
  width: 255px;
  color: white;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 8px;
}

.bgHead {
  background-color: brown;
}

td {
  padding: 5px;
}

.noborder {
  border: 0px;
  vertical-align: top;
}

.bgBody {
  background-color: lightblue;
  color: black;
}

.headingClass {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 35px;
  margin-bottom: 10px;
}

u {
  background-color: antiquewhite;
}

.heightRed {
  border: 1px solid white;
  color: white;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 8px;
}

h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0px;
  margin-bottom: 10px;
}

.formandInputTable {
  border: 1px solid white;
  color: white;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 8px;

}

li {
  list-style-type: square;
}

.width100 {
  width: 100%;
}

.tablecontainerAlign {
  border: 1px solid white;
  width: 300px;
  color: white;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 8px;
}

.ListcontainerAlign {
  border: 1px solid white;
  width: 385px;
  color: white;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 8px;
}

.margin45 {
  margin-top: 45px;
}

.verticalline {
  border-left: 2px solid black;
  height: 500px;
  padding-left: 10px;
}

.padd10 {
  padding-right: 10px;
}

.content{
  background-image: url('./Images/bg2.jpg');
}
.indexHeader{
  text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 75px;margin-top: 20px; margin-bottom: 10px;
}
.paraBackgroung{
  background-color: cadetblue;
}
.formHeader{
  text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top: 20px; margin-bottom: 10px;
}
.padd15{
  padding: 15px;
}
.mainContent{
  font-size: large; font-family: Times New Roman, Times, serif;
}
.listBgColor{
  background-color: azure;
                        padding: 7px;border-radius: 10px;
}