body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width:75%; */
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 75vh 10vh;
    grid-template-areas: 
    "h h h h h"
    "m c c c a"
    "f f f f f";
}

.header {
    grid-area: h;
    color: brown;
    font-size: 25px;
}
.menu {
    grid-area: m;
}
.content {
    grid-area: c;
}
.ad {
    grid-area: a;
}
.footer {
    grid-area: f;
}
.layout div {
    border: 1px solid white;
    background-color:black;
    opacity: 0.8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: center;
}

div.footer {
    font-size: 20px;
}

.ad img {
    width: 299px;
    height:255px;
}
.menu{
    font-size: 20px;
    padding-top:100px;
    color:brown;
    
}
.menu li{
    font-size: 20px;
    margin-right: 45px;
    color: light grey;
}
.content {
    color: red;
}
.content img{
    display:flexbox;
    width:200px;
    height:200px;
}
